.navbar {
  padding: 8px 0;
  .container {
    @include flexbox(center, space-between);
  }
  &__item {
    @include flexbox(center, space-between);
  }
  &__icon {
    @include width-height(40px, 40px);
    @extend %nav-item;
    @include flexbox(center, center);
    flex-direction: column;

    span {
      margin: 5px 0;
      display: inline-block;
      @include width-height(18px, 1px);
      background-color: black;
    }
    &::before,
    &::after {
      display: inline-block;
      content: "";
      background-color: black;
      @include width-height(18px, 1px);
    }
  }
  &__logo {
    padding: 0 16px;
    svg {
      width: 90px !important;
    }
  }
  &__search {
    @include flexbox(center, space-between);
    @include width-height(43vw, auto);
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px #eee;
    border-radius: 40px;
    padding-left: 16px;
    position: relative;

    input {
      display: inline-block;
      width: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      z-index: 9;
      @include font(1.6rem, 2.4rem, 400);
    }
    span {
      svg {
        width: 20px !important;
      }
    }
    span {
      display: none;
      @include width-height(auto, 40px);
      position: absolute;
      left: -32px;
      right: 64px;
      padding-left: 15px;
      border-radius: 40px 0 0 40px;
      z-index: 2;
    }
    img {
      position: absolute;
      right: 70px;
      z-index: -2;
    }
    button {
      border: none;
      padding: 7px 20px;
      border-radius: 0 40px 40px 0;
      cursor: pointer;
      background-color: #f8f8f8;
      border-left: 1px solid #ccc;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    svg {
      @include width-height(24px !important, 24px !important);
    }
  }
  &__voice-search {
    @include width-height(40px, 40px);
    @extend %nav-item;
    @include flexbox(center, center);
    margin-left: 8px;
    svg {
      @include width-height(24px !important, 24px !important);
    }
  }
  &__create-video,
  &__notification {
    svg {
      @include width-height(24px !important, 24px !important);
    }
  }
  &__create-video {
    position: relative;
    @extend %nav-item;
    @include flexbox(center, center);
    @include width-height(40px, 40px);
    &::before {
      @include width-height(2px, 14px);
      content: "";
      display: inline-block;
      position: absolute;
      left: -3.5px;
      background-color: #ccc;
      margin-right: 8px;
    }
  }
  &__notification {
    margin: 0 8px;
    @extend %nav-item;
    @include flexbox(center, center);
    @include width-height(40px, 40px);
  }
  &__avatar {
    @extend %nav-item;
    @include width-height(32px, 32px);
    @include flexbox(center, center);
    @include font(1.5rem, 3.2rem, normal);

    margin-right: 18px;
    margin-left: 12px;
    background-color: #5c6bc0 !important;
    color: #f9f9f9;
  }
}