.sidebar {
  // position: fixed;
  width: 240px;
  // height: 100vh;
  overflow: hidden;
  &__background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: calc(100vw + 240px);
    top: 0;
    z-index: -1;
  }
  &__header {
    display: none;
    background-color: white;
    padding: 8px 16px;
  }
   
  &__icon {
    @include width-height(40px, 40px);
    @extend %nav-item;
    @include flexbox(center, center);
    flex-direction: column;

    span {
      margin: 5px 0;
      display: inline-block;
      @include width-height(18px, 1px);
      background-color: black;
    }
    &::before,
    &::after {
      display: inline-block;
      content: "";
      background-color: black;
      @include width-height(18px, 1px);
    }
  }
  &__logo {
    padding: 0 16px;
    svg {
      width: 90px !important;
    }
  }
  &__list-container {
    background-color: white;
    overflow: scroll;
    padding: 10px 3px 0 0;
    height: calc(100vh - 56px);
    @extend %scrollbar;
  }
  &__list-home {
    padding: 0 12px;
  }
  &__list-lib {
    padding: 0 12px;
    @extend %list-border-top;
  }
  &__list-menu {
    padding: 0 12px;
  }
  &__list-follow {
    padding: 0 12px;
    @extend %list-border-top;
    @extend %sidebar-title;
  }
  &__list-nav {
    padding: 0 12px;
    @extend %list-border-top;
    @extend %sidebar-title;
  }
  &__list-more {
    padding: 0 12px;
    @extend %list-border-top;
    @extend %sidebar-title;
  }
  &__list-setting {
    padding: 0 12px;
    @extend %list-border-top;
  }
  &__list-footer {
    @extend %list-border-top;
    padding: 4px 24px !important;
    a {
      padding-top: 12px;
      display: inline-block;
      text-decoration: none;
      color: #606060;
      @include font(1.3rem, 1.8rem, 500);
    }
    span {
      display: inline-block;
      color: #909090;
      @include font(1.2rem, 1.8rem, 400);
      padding: 16px 0 0 0;
    }
  }
  &__link {
    @include flexbox(center, flex-start);
    padding: 8px 12px;
    @include font(1.4rem, 2rem, 500);
    text-decoration: none;
    color: #0f0f0f;
    border-radius: 9px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    svg,
    img {
      margin-right: 24px;
      border-radius: 15px;
      display: inline-block;
      @include width-height(24px !important, 24px !important);
    }
  }
}

// @media screen and (max-width: 1312px) {
//   .sidebar-mini {
//     display: none;
//     &__header {
//       @include flexbox(center, flex-start);
//       display: none;
//       background-color: white;
//       padding: 8px 16px;
//     }
//   }
// }