* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@import "./mixin";
@import "./placeholder";
@import "./toggle";
@import "./wrapper";
@import "./navbar";
@import "./sidebar";
@import "./videos";